<% unless @cart.nil? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |cart_item| %>
      <tr>
        <td><%= link_to cart_item[0].name, cart_item[0] %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
CART IS NIL
<% end %>
