<% if @purchases.empty? %>
  <h4>No purchases at this time.</h4>
<% else %>
  <h4>Recent Purchases</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.item.name, item_path(purchase.item) %></td>
          <td><%= purchase.quantity %></td>
          <td><%= purchase.date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @purchases, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", renderer: FoundationPagination::Rails %>
<% end %>
<p>&nbsp;</p>
