<div class="row">
  <div class="small-8 columns">
    <%= render partial: "orders_list", locals: {table_name: "Shipped Orders", orders_array: @shipped_orders} %>
    <%= render partial: "orders_list", locals: {table_name: "Unshipped Orders", orders_array: @unshipped_orders} %>
    <%= link_to("Add a New Order", new_order_path, class: "button radius") %>
  </div>
