<% if @user_school.nil? %>
	<%= render partial: "schools/form" %>
<% else %>
	<div class="row">
  		<div class="small-7 columns">
    		<h3><b>School Name</b>: <%= @user_school.name %></h3>
			<br>
			<p><b>Address</b>: <%= "#{@user_school.street_1} #{@user_school.street_2} #{@user_school.city}, #{@user_school.state} #{@user_school.zip}" %> </p>
			<%= link_to "Remove School", remove_school_path, class:"button radius"%>
			<br>
  		</div>
	</div>
	<!-- Add buttons to list all, edit project or destroy user -->
	<%#= render partial: "partials/object_options", locals: {model_name: "school", object: @school}  %>
<% end %>
