<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school_path(school) %></td>
        <td>
          <%= link_to(edit_school_path(school), class: 'button tiny radius') do %> Edit <% end %>
        </td>
        <td>
          <%= link_to(user_path(school), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{school.name}"}, class: 'button tiny radius alert') do %>
          Delete <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @schools, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", renderer: FoundationPagination::Rails %>
<br />
